* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* logo Section */
#left {
  display: flex;
  align-items: center;
}

#left > img {
  height: 4rem;
  margin-right: 2rem;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#search {
  display: flex;
  width: 600px;
  height: 0.8rem;
  border: 1px solid rgb(238, 227, 227);
  border-radius: 5px;
  padding: 0.7rem;
}

input {
  max-width: 50%;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  width: 350px;
}

i {
  color: gray;
}
#right > #sign {
  background-color: rgb(236, 82, 82);
  color: white;
  border-radius: 5px;
  padding: 0.4rem;
  margin-left: 0.5rem;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

#location {
  width: 100px;
}

main {
  background-color: rgb(250, 247, 247);
}

#navigation button {
  font-size: 1rem;
  background-color: rgb(250, 247, 247);
  border: none;
  padding: 0.8rem 0.4rem;
}

nav {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(238, 227, 227);
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#second > button {
  font-size: smaller;
}

/* Banner Section */

/* #banner_section {
  display: flex;
  position: relative;
} */
/* #banner {
  height: 150px;
  width: 100vw;
} */
/* #banner_elements {
  width: 100vw;
  position: absolute;
  justify-items: center;
} */

/* Alternatively */
#banner {
  display: flex;
  overflow: scroll;
  background-color: rgb(241, 236, 236);
}

#banner > img {
  height: 14rem;
  padding: 10px 5px;
  border-radius: 20px;
}

/* Title Section */

#content_title {
  margin-top: 2rem;
  font-size: 1.2rem;
}

/* Cards Section */
.card {
  padding: 0.75rem;
  margin-right: 1rem;
  background-color: rgb(241, 236, 236);
  border-radius: 5px;
}

.card > .img {
  height: 350px;
  border-radius: 10px;
}

.card1 {
  padding: 0.75rem;
  margin-right: 1rem;
  background-color: rgb(241, 236, 236);
  border-radius: 5px;
}

.card1 > .img {
  height: 200px;
  border-radius: 10px;
}
.movie {
  display: flex;
  overflow-x: scroll;
}

.card > h3 {
  font-size: 1.5rem;
}

.last {
  margin-right: 0;
}

#bottom {
  margin: 4rem 0;
  text-align: center;
}

#bottom > img {
  max-width: 100vw;
}

@media (max-width: 600px) {
  #logo {
    flex-direction: column;
    padding: 1rem;
  }
  #right > button {
    margin-top: 0.5rem;
  }
  #right {
    display: flex;
    flex-direction: column;
  }
  #search {
    flex-direction: column;
  }
  #search > button {
    margin-top: 1rem;
  }
  /* .movie {
    flex-direction: column;
    gap: 0.5rem;
  } */
  .card > .img {
    height: 500px;
  }
}
